.card {
    max-width: 320px;
    height: fit-content;
    margin: 0 auto; 
    color: white;
    border: none;
  }
  
  .card-img-top {
    height: 190px !important /* Altura de la imagen */ /* Ajustar la imagen al tamaño de la tarjeta */
  }
  
  .card-body {
    text-align: center; /* Centrar el texto horizontalmente */
  }
  
  .list-group-item {
    text-align: center; /* Centrar el texto de la lista horizontalmente */
  }
  
  .card-title {
    font-size: 1.25rem; /* Tamaño de fuente para el título */
    margin-bottom: 0.5rem; /* Espacio inferior entre el título y el texto */
  }
  
  .card-text {
    font-size: 1rem; /* Tamaño de fuente para el texto */
  }
  
  ul {
    list-style-type: none; /* Eliminar viñetas de la lista */
    padding: 0; /* Eliminar el relleno predeterminado de la lista */
  }
  