.card {
    max-width: 320px;
    height: fit-content;
    margin: 0 auto; 
    color: white;
    border: none;
  }
  
  .card-img-top {
    height: 190px !important 
  }
  
  .card-body {
    text-align: center;
  }
  
  .list-group-item {
    text-align: center; 
  }
  
  .card-title {
    font-size: 1.25rem;
    margin-bottom: 0.5rem; 
  }
  
  .card-text {
    font-size: 1rem;
  }
  
  ul {
    list-style-type: none; 
    padding: 0;
  }
  