* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: crimson;   
}

.ng-valid:not(form).ng-touched {
    border-left: 5px solid #42A948;

}

.ng-invalid:not(form).ng-touched {
    border-left: 5px solid #a94442;
}